
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "settings";
// Foundation
@import "node_modules/foundation-sites/scss/foundation";

@include foundation-everything(true);

@import "node_modules/motion-ui/motion-ui";

.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }

    @include breakpoint(large) {
        .title-bar {
            display: none;
        }
    }
}


/* Custom Styles */
@import "custom";
